### Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objs as go

import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from datetime import datetime as dt

### The Cases dashboard

In [2]:
mainDashboard = dash.Dash(__name__)

### Import the Cases data

In [3]:
cases = pd.read_csv('../covid_confirmed_usafacts.csv')
cases.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149

### Clean and Format the Cases dataframe with State

In [4]:
selected_date_columns = [col for col in cases.columns if '2020-01-22' <= col <= '2023-07-23' or col == 'State']
cases = cases[selected_date_columns]
cases.head()

,State,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,AL,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AL,0,0,0,0,0,0,0,0,0,...,19913,19913,19913,19913,19913,19913,19913,19913,19913,19913
2,AL,0,0,0,0,0,0,0,0,0,...,70521,70521,70521,70521,70521,70521,70521,70521,70521,70521
3,AL,0,0,0,0,0,0,0,0,0,...,7582,7582,7582,7582,7582,7582,7582,7582,7582,7582
4,AL,0,0,0,0,0,0,0,0,0,...,8149,8149,8149,8149,8149,8149,8149,8149,8149,8149

### Import the Deaths data

In [5]:
deaths = pd.read_csv('../covid_deaths_usafacts.csv')
deaths.head()

,countyFIPS,County Name,State,StateFIPS,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111

### Clean and Format the Deaths dataframe with State

In [6]:
selected_date_columns = [col for col in deaths.columns if '2020-01-22' <= col <= '2023-07-23' or col == 'State']
deaths = deaths[selected_date_columns]
deaths.head()

,State,2020-01-22,2020-01-23,2020-01-24,2020-01-25,2020-01-26,2020-01-27,2020-01-28,2020-01-29,2020-01-30,...,2023-07-14,2023-07-15,2023-07-16,2023-07-17,2023-07-18,2023-07-19,2023-07-20,2023-07-21,2023-07-22,2023-07-23
0,AL,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AL,0,0,0,0,0,0,0,0,0,...,235,235,235,235,235,235,235,235,235,235
2,AL,0,0,0,0,0,0,0,0,0,...,731,731,731,731,731,731,731,731,731,731
3,AL,0,0,0,0,0,0,0,0,0,...,104,104,104,104,104,104,104,104,104,104
4,AL,0,0,0,0,0,0,0,0,0,...,111,111,111,111,111,111,111,111,111,111

#### Get all state dropdown options

In [7]:
dropdown_options = []
states = cases['State'].unique()
    
for state in states:
    option = { 'label': state, 'value': state }
    dropdown_options.append(option)

### Main Dashboard layout

In [8]:
mainDashboard.layout = html.Div([

    # COVID Cases Interactive
    html.H1("Interactive Dashboard for COVID-19 Cases",
        style={'text-align': 'center'}),

    dcc.DatePickerRange(
        id='cases-date-picker-range',
        start_date='2020-01-22',
        end_date='2023-07-23',
        display_format='YYYY-MM-DD',
        min_date_allowed='2020-01-22',
        max_date_allowed='2023-07-23',
    ),
    
    dcc.RadioItems(
        id='cases-y-axis-scale',
        options=[
            {'label': 'Linear Scale', 'value': 'linear'},
            {'label': 'Log Scale', 'value': 'log'},
        ],
        value='linear',
        labelStyle={
            'display': 'block',
            'font-size': '20px'
        },
    ),
    
    dcc.Dropdown(
        id='cases-state-selection',
        options=dropdown_options,
        multi=True,
        style={'width': '200px'},
        value=[]
    ),
    
    dcc.Graph(id='cases-graph', style={
        'border-style': 'solid',
        'border-width': '5px'
    }),


    # COVID Deaths Interactive
    html.H1("Interactive Dashboard for COVID-19 Deaths", style={'text-align': 'center'}),

    dcc.DatePickerRange(
        id='deaths-date-picker-range',
        start_date='2020-01-22',
        end_date='2023-07-23',
        display_format='YYYY-MM-DD',
        min_date_allowed='2020-01-22',
        max_date_allowed='2023-07-23',
    ),
    
    dcc.RadioItems(
        id='deaths-y-axis-scale',
        options=[
            {'label': 'Linear Scale', 'value': 'linear'},
            {'label': 'Log Scale', 'value': 'log'},
        ],
        value='linear',
        labelStyle={
            'display': 'block',
            'font-size': '20px'
        },
    ),
    
    dcc.Dropdown(
        id='deaths-state-selection',
        options=dropdown_options,
        multi=True,
        style={'width': '200px'},
        value=[]
    ),
    
    dcc.Graph(id='deaths-graph', style={

        'border-style': 'solid',
        'border-width': '5px'
    }),

])

#### Cases Graph Callback

In [9]:
@mainDashboard.callback(
    Output('cases-graph', 'figure'),
    [Input('cases-date-picker-range', 'start_date'),
     Input('cases-date-picker-range', 'end_date'),
     Input('cases-y-axis-scale', 'y_axis_scale'),
    Input('cases-state-selection', 'value')]
)

def update_cases_graph(start_date, end_date, y_axis_scale, value):
    selected_date_columns = [col for col in cases.columns if start_date <= col <= end_date or col == 'State']
    cases_df = cases[selected_date_columns]
    
    date_range = pd.date_range(start=start_date, end=end_date)
    
    daily_cases = []
    for col in cases.columns:
        if (col != 'State'):
            daily_cases.append(cases[col].sum())
    daily_cases_data = pd.Series(daily_cases)
    
    days = np.arange(len(daily_cases_data))
    
    poly = PolynomialFeatures(degree=4)
    X_poly = poly.fit_transform(days.reshape(-1, 1))

    pr_cases = LinearRegression()
    pr_cases.fit(X_poly, daily_cases_data)
    cases_poly_predictions = pr_cases.predict(X_poly)

    if y_axis_scale == 'log':
        # Initialize the figure data
        case_figure_data = [
            {'x': list(range(len(date_range))), 'y': np.log(cases_df.loc[:, cases_df.columns != 'State'].sum()), 'type': 'line', 'name': 'Cases'},
            {'x': list(range(len(date_range))), 'y': np.log(cases_poly_predictions), 'type': 'line', 'name': 'Predicted Cases', 'line': {'dash': 'dash'}}
        ]
        
        # Append selected states to case_figure_data list
        for state in value:
            # Get all cases relating to specific state
            state_cases = cases_df.loc[cases_df['State'] == state]
                
            # Remove 'State' column
            columns = [col for col in cases.columns if '2020-01-22' <= col <= '2023-07-23']
            state_cases = state_cases[columns]
            
            # Append new figure
            data = {'x': list(range(len(date_range))), 'y': np.log(state_cases.sum()), 'type': 'line', 'name': state}
            case_figure_data.append(data)
        
        figure = {
        'data': case_figure_data,
        'layout': {
            'title': f'COVID-19 Cases from {start_date} to {end_date}',
            'xaxis': {'title': 'Days'},
            'yaxis': {'title': 'Number of Cases'}
            }
        }
    else:
        # Initialize the figure data
        case_figure_data = [
            {'x': list(range(len(date_range))), 'y': cases_df.loc[:, cases_df.columns != 'State'].sum(), 'type': 'line', 'name': 'Cases'},
            {'x': list(range(len(date_range))), 'y': cases_poly_predictions, 'type': 'line', 'name': 'Predicted Cases', 'line': {'dash': 'dash'}}
        ]
        
        # Append selected states to case_figure_data list
        for state in value:
            # Get all cases relating to specific state
            state_cases = cases_df.loc[cases_df['State'] == state]
                
            # Remove 'State' column
            columns = [col for col in cases.columns if '2020-01-22' <= col <= '2023-07-23']
            state_cases = state_cases[columns]
            
            # Append new figure
            data = {'x': list(range(len(date_range))), 'y': state_cases.sum(), 'type': 'line', 'name': state + ' Cases'}
            case_figure_data.append(data)
        
        figure = {
        'data': case_figure_data,
        'layout': {
            'title': f'COVID-19 Cases from {start_date} to {end_date}',
            'xaxis': {'title': 'Days'},
            'yaxis': {'title': 'Number of Cases'}
            }
        }
        

    return figure

#### Deaths Graph Callback

In [10]:
@mainDashboard.callback(
    Output('deaths-graph', 'figure'),
    [Input('deaths-date-picker-range', 'start_date'),
     Input('deaths-date-picker-range', 'end_date'),
     Input('deaths-y-axis-scale', 'y_axis_scale'),
     Input('cases-state-selection', 'value')]
)
def update_deaths_graph(start_date, end_date, y_axis_scale, value):
    selected_date_columns = [col for col in cases.columns if start_date <= col <= end_date or col == 'State']
    
    deaths_df = deaths[selected_date_columns]
    
    date_range = pd.date_range(start=start_date, end=end_date)
    
    daily_deaths = []
    for col in deaths.columns:
        if (col != 'State'):
            daily_deaths.append(deaths[col].sum())
    daily_deaths_data = pd.Series(daily_deaths)
    
    days = np.arange(len(daily_deaths_data))
    
    poly = PolynomialFeatures(degree=4)
    X_poly = poly.fit_transform(days.reshape(-1, 1))
    
    pr_deaths = LinearRegression()
    pr_deaths.fit(X_poly, daily_deaths_data)
    deaths_poly_predictions = pr_deaths.predict(X_poly)

    if y_axis_scale == 'log':
        # Initialize the figure data
        case_figure_data = [
            {'x': list(range(len(date_range))), 'y': np.log(deaths_df.loc[:, deaths_df.columns != 'State'].sum()), 'type': 'line', 'name': 'Deaths'},
            {'x': list(range(len(date_range))), 'y': np.log(deaths_poly_predictions), 'type': 'line', 'name': 'Predicted Deaths', 'line': {'dash': 'dash'}}  
        ]
        
        # Append selected states to case_figure_data list
        for state in value:
            # Get all deaths relating to specific state
            state_deaths = deaths_df.loc[deaths_df['State'] == state]
                
            # Remove 'State' column
            columns = [col for col in deaths.columns if '2020-01-22' <= col <= '2023-07-23']
            state_deaths = state_deaths[columns]
            
            # Append new figure
            data = {'x': list(range(len(date_range))), 'y': state_deaths.sum(), 'type': 'line', 'name': state + ' Deaths'}
            case_figure_data.append(data)
        
        figure = {
        'data': case_figure_data,
        'layout': {
            'title': f'COVID-19 Deaths from {start_date} to {end_date}',
            'xaxis': {'title': 'Days'},
            'yaxis': {'title': 'Number of Deaths'},
            }
        }
    else:
        # Initialize the figure data
        case_figure_data = [
            {'x': list(range(len(date_range))), 'y': deaths_df.loc[:, deaths_df.columns != 'State'].sum(), 'type': 'line', 'name': 'Deaths'},
            {'x': list(range(len(date_range))), 'y': deaths_poly_predictions, 'type': 'line', 'name': 'Predicted Deaths', 'line': {'dash': 'dash'}}
        ]
        
        # Append selected states to case_figure_data list
        for state in value:
            # Get all deaths relating to specific state
            state_deaths = deaths_df.loc[deaths_df['State'] == state]
                
            # Remove 'State' column
            columns = [col for col in deaths.columns if '2020-01-22' <= col <= '2023-07-23']
            state_deaths = state_deaths[columns]
            
            # Append new figure
            data = {'x': list(range(len(date_range))), 'y': state_deaths.sum(), 'type': 'line', 'name': state + ' Deaths'}
            case_figure_data.append(data)
        
        figure = {
        'data': case_figure_data,
        'layout': {
            'title': f'COVID-19 Deaths from {start_date} to {end_date}',
            'xaxis': {'title': 'Days'},
            'yaxis': {'title': 'Number of Deaths'},
            }
        }   

    return figure

### Display the Main Dashboard

In [11]:
mainDashboard.run_server(mode='inline', port=8050)